body 
{
    background-image: url("images/carbonBlue.png");
	color: white;
	font-size: 87.5%;
	font-family: Century Gothic, sans-serif;
	line-height: 1.5;
	text-align: left;
}

a
{
    text-decoration: none;
}

a:lint, a:visited
{
}

a:hover, a:active
{
}

.body
{
    margin: 0 auto;
    width: 70%;
    clear: both;
}

#wrapper 
{
    display:table;
    width:70%;
    padding-left: 15%
}

#row
{
    display: table-row;
}

#picSection 
{
    display:table-cell;
    width:200px;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

#contactSection 
{
    display:table-cell;
    width:200px;
    text-align: center;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#socialSection 
{
    display:table-cell;
    width:200px;
    text-align: center;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.fa-facebook
{
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: white;
}

.fa-facebook:hover
{
    background-color: #3d5b99;
}

.fa-twitter 
{
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: white;
}

.fa-twitter:hover
{
    background-color: #00aced;
}

.fa-linkedin
{
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: white;
}

.fa-linkedin:hover
{
    background-color: #0073a4;
}

.fa-github
{
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: white;
}

.fa-github:hover
{
    background-color: #6e5494;
}

#socialSection nav ul a
{
    padding:10px 40px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: black;
    border-radius: 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#socialSection a:hover
{
   
    color: aqua;
}

.mainHeader img
{
    width: 30&;
    height: auto;
    margin: 2% 0;
}

.mainHeader nav
{
    text-align: center;
    opacity: 0.5;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainHeader nav ul
{
    list-style: none;
    margin 0 auto;
}

.mainHeader nav ul li
{
    float left;
    display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited
{
    color: black;
    background-color: antiquewhite;
    display: inline-block;
    padding: 10px 50px;
    height: 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited
{
    background-color: #202938;
    color: aliceblue;
    text-shadow: none;
}

.mainHeader nav ul li a
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainContent
{
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.mainContent a
{
    color: black;
}

.content2
{
    color: white;
    width: 71.5%;
    text-align: center;
    padding-left: 15%
}

.topContent
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 2%;
    margin-top: 1%;
}

.bottomContent
{
    text-align: left;
    opacity: 0.5;
    background-color: aliceblue;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 2%;
    margin-top: 1%;
}

.bottomContent a 
{
    color: darkblue;
}

.bottomContent header
{
    color: black;
}

.mainFooter
{
    opacity: 0.5;
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: antiquewhite;
    margin: 2% 0;
}

.mainFooter p
{
    color: black;
    width: 92%;
    margin: 2% auto;
}

.mainFooter a
{
    color: black;
    float: right;
}




